<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Offers</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-8">

        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-info" ng-click="connect()"><i class="fa fa-link"></i> Refresh offers</button><br><br><br>
                <table cellspacing="100"> 
                <tr>
                <td style="padding:10px">
                Offer by..<br>
                <img src="/assets/images/airfrance.png" height="100"><br>
                <textarea cols="40" rows="5">VIE to CDG 2015-07-19
Direct flight
EUR 347.00</textarea>
                <button type="button" class="btn btn-info" ng-click="connect()"><i class="fa fa-link"></i> Connect to offer</td>
                <td style="padding:10px">
                Offer by..<br>
                <img src="/assets/images/austrian.png" height="100"><br>
                <textarea cols="40" rows="5">VIE to CDG 2015-07-19
Direct flight
EUR 389.00</textarea>
                <button type="button" class="btn btn-info" ng-click="connect()"><i class="fa fa-link"></i> Connect to offer</button></td>
                </tr>
                </table>
            </div>
        </div>
        <div class="spacer20"></div>


    </div>
</div>


